.footer{
  display: flex;
  padding: 32px 24px;
  justify-content: space-between;
  align-items: center;
}

.footer .arrow{
  width: 56px;
  height: 56px;
  color: #fff;
}
.footer .button-arrow{
  background: none;
  border: 0;
}

.footer .button-arrow:hover .arrow{
  background-color: #fff2;
  transition: .1s;
  cursor: pointer;
  border-radius: 50%;
}

.footer .footer-links{
  display: flex;
  padding: 0 12px;
  align-items: center;
  font-size: 16px;
}

.footer .footer-links .socialmedias{
  color: #fff;
  padding: 4px 16px;
  text-decoration: none;
}
.footer .footer-links .socialmedias:hover{
  text-decoration: underline;
}